<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ABOUT PAGE</title>
	</head>
	<body>
		<h1>{{makeUpperCase welcomeMessage for home page}}</h1> hello from home
		{{> footer}}
	</body>
	
</html>